<%- include('pages/layout') %>
    <div>
        <h2>
            <%= title %>: <%= category.name %>
        </h2>
        <h4>Items</h4>
        <ul>
            <% items.forEach(function (item) { %>
                <li><a href="">
                        <%= item.name %>
                    </a>
                </li>
                <p>
                    <%= item.description %>
                </p>
                <% }) %>
        </ul>
        <form action="" method="post">
            <div class="form-group">
                <input type="hidden" name="categoryid">
                <button type="submit" class="btn btn-primary">Delete</button>
            </div>
        </form>
    </div>