<%- include('pages/layout') %>
    <h1>Item detail</h1>
    <div class="col-sm-10">
        <ul>
            <li>
                <%= items.name %>
            </li>
            <p>
                <%= items.description %>
            </p>
            <p>
                <%= items.category %>
            </p>
            <p>
                <%= items.price %>
            </p>
            <p>
                <%= items.number_in_stock %>
            </p>
        </ul>
        <a href="/shop/items/<%= items._id %>/delete"><button type="submit" class="btn btn-primary">Delete</button></a>
        <a href="/shop/items/<%= items._id %>/update"><button type="submit" class="btn btn-primary">Update</button></a>
    </div>