<%- include('pages/layout') %>
    <h1>
        <%= title %>
    </h1>
    <form action="" method="post">
        <div class="form-group">
            <label for="name">Item Name</label>
            <input type="text" name="item_name" placeholder="Item Name" id="" value="<%= item.name %>">
            <br>
            <label for="category">Category</label>
            <select name="category" id="">
                <option value="">Please select the category</option>
                <% categories.forEach((item,index)=> {%>
                    <option value="<%= item._id %>">
                        <%=item.name %>
                    </option>
                    <% });%>
            </select>
            <br>
            <label for="description">Description</label>
            <input type="text" name="item_description" id="<%= item._id %>" value="<%= item.description %>">
            <br>
            <label for="price">Price</label>
            <input type="text" name="item_price" placeholder="price of the item" id="" value="<%= item.price %>">
            <br>
            <label for="number_in_stock">Number in Stock</label>
            <input type="text" name="item_stock" placeholder="stock" id="" value="<%= item.number_in_stock %>">
        </div>
        <button type="submit">Submit</button>
    </form>